@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "Mont";
    src: url("../public/Mont/Mont-Regular.otf");
}

.main {
    background-image: url(/images/image1.jpg);
}
